.video__page{
    width: calc(100% - 72px);
    margin: 48px 72px;
}
.thumb__dynamic{
    width: 100%;
    aspect-ratio: 16/9;
    max-width: 200px;
}
.container__texto__dynamic h1{
    font-weight: bold;
}
.video__options, .video__options__sub{
    display: flex;
}
.video__options img {
    width: 48px;
    height: 48px;
}
.left{
    width: 70%;
    height: 100vh;
    position: relative;
}
.blur{
    position: absolute;
    content: '';
    width: 101%;
    height: 63%;
    top: -30;
    left: 0;
    z-index: 0;
    background-color: var(--background-secondary);
    opacity: 0.8;
    filter: blur(40px);
}
.blurOpacity{
    opacity: 0;
}
.video{
    z-index: 1;
    max-height: 668px;
    aspect-ratio: 16 / 9;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 30%;
}
.inscrito{
    background: var(--background-secondary);
}
.video__card__dynamic{
    cursor: pointer;
}
.video__desc{
    background: var(--background-secondary);
    overflow: hidden;
    height: 92px;
    cursor: pointer;
}
.openedDesc{
    height: max-content;
    overflow: visible;
}
.video__icons{
    top: 4px;
    left: 165px;
    opacity: 0;
}
.video__icons svg{
    background: rgba(0, 0, 0, 0.8);
}
.video__card__dynamic:hover .video__icons{
    opacity: 1;
}
.error{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}