.video__page{
    max-width: 1800px;
    width: 80vw;
    /* width: calc(100% - 72px); */
    margin: 72px auto;
    justify-content: center;
}
.thumb__dynamic{
    width: 100%;
    aspect-ratio: 16/9;
    max-width: 180px;
    height: 100px;
}
.container__texto__dynamic h1{
    font-weight: bold;
    max-height: 48px;
    max-width: 96%;
    overflow: hidden;
}
.video__options, .video__options__sub{
    display: flex;
}
.video__options img {
    width: 48px;
    height: 48px;
}
/* .blur{
    position: absolute;
    content: '';
    width: 101%;
    height: 63%;
    top: -30;
    left: 0;
    z-index: 0;
    background-color: var(--background-secondary);
    opacity: 0.8;
    filter: blur(40px);
} */
.blurOpacity{
    opacity: 0;
}
.video{
    z-index: 1;
    max-height: 668px;
    aspect-ratio: 16 / 9;
    border-radius: 18px;
}
.left{
    max-width: 1800px;
    width: 100%;
    position: relative;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 500px;
}
.inscrito{
    background: var(--background-secondary);
}
.video__card__dynamic{
    cursor: pointer;
}
.video__card__options__icon{    
    position: absolute;
    top: 0;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.video__card__options__icon span{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff;
}
.video__desc{
    background: var(--background-secondary);
    overflow: hidden;
    height: 92px;
    cursor: pointer;
}
.openedDesc{
    height: max-content;
    overflow: visible;
}
.video__icons{
    top: 4px;
    left: 142px;
    opacity: 0;
}
.video__icons svg{
    background: rgba(0, 0, 0, 0.8);
}
.video__card__dynamic:hover .video__icons{
    opacity: 1;
}
.error{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.buttons__container__fade2 {
    position: absolute;
    content: '';
    right: -2;
    top: 0;
    width: 92px;
    height: 100%;
    background: linear-gradient(-90deg, var(--background-primary) 0%,  var(--background-primary) 50%, transparent 100%);
}
.buttons__container__dois {
    width: 97%;
}
.buttons__container__dois button{
    transition: 0.25s ease;
}
.buttons__container__dois button:hover{
    background: rgb(255 255 255 / 20%);
}
.buttons__container__fade2 {
    position: absolute;
    content: '';
    right: -2px;
    top: 0;
    width: 64px;
    height: 100%;
    background: linear-gradient(-90deg, var(--background-primary) 0%,  var(--background-primary) 50%, transparent 100%);
}