.videos__container{
    width: calc(100% - 72px);
    margin-left: 72px;
    margin-top: 56px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.video__card{
    cursor: pointer;
}
.thumb{
    aspect-ratio: 16/9;
}
.videos__resizer{
    width: calc(100vw - 300.44px);
    margin-left: 300.44px;
}
.desc img {
    width: 48px;
    height: 48px;
}
.container__texto h1{
    font-weight: bold;
}