.channel__container{
    max-width: 1700px;
    width: calc(100% - 72px);
    margin: 48px auto;
    padding-left: 72px;
}
.banner{
    width: 100%;
    height: 240px;
}
.banner__background{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.buttons__container__channel button{
    background: var(--background-secondary);
}
.videos__container__channel{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.channel__resizer{
    width: calc(100% - 266px);
    margin: 48px 266px;
}
@media (max-width: 1500px) {
    .videos__container__channel {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .channel_info img{
        max-width: 140px;
    }
}