@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  box-sizing: border-box;
}
:root{
  --background-primary: #0f0f0f;
  --background-secondary: rgb(255 255 255 / 10%);
  --color-primary: white;
}
html, body{
  color: var(--color-primary);
}