.videos__resizer {
    width: calc(100vw - 300.44px);
    margin-left: 277px;
}

.videos__resizer__page {
    width: calc(100vw - 300.44px);
    margin-left: 277px;
}
@media (max-width: 1280px) {
    .right {
        width: 40%;
    }

    .left {
        width: 60%;
    }
}

@media (max-width: 1080px) {
    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    .video {
        width: auto;
    }

    .video__page {
        max-width: 100%;
        width: calc(100% - 72px);
        margin: 56px 72px;
    }
}

@media (max-width: 812px) {
    .video__options {
        flex-direction: column;
    }

    .video__options__sub {
        justify-content: space-between;
    }
}

@media (max-width: 612px) {
    .search input {
        display: none;
    }
    .keyboard{
        display: none;
    }
    .search input{
        width: 50vw;
    }
    .lupa {
        border-radius: 100%;
        padding: 0;
        background: none;
        border: none;
    }

    .sidebar {
        display: none;
    }

    .pageVideo {
        width: 100%;
        margin: 56px auto;
        padding: 0;
    }
    .videos__container{
        padding: 0;
    }
    .buttons__container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .thumb {
        border-radius: 0;
    }

    .videos__resizer {
        width: 100%;
        margin-top: 56px;
    }
    .videos__resizer__page {
        width: 100%;
        margin-top: 56px;
    }

    header .menu {
        display: none;
    }

    .options {
        display: none;
    }

    .video__page {
        max-width: 100%;
        width: 100%;
        margin: 56px 0;
    }
}