.videos__resizer {
    width: calc(100vw - 300.44px);
    margin-left: 277px;
}

.videos__resizer__page {
    width: calc(100vw - 300.44px);
    margin-left: 277px;
}

@media (max-width: 1500px) {
    .videos__container__channel {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .channel_info img {
        max-width: 140px;
    }

    .channel__info__text h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 1000px) {
    .videos__container__channel {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .channel_info img {
        max-width: 140px;
    }

    .channel__info__text h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 1280px) {
    .right {
        width: 40%;
    }

    .left {
        width: 60%;
    }
}

@media (max-width: 1080px) {
    .video__page {
        flex-direction: column;
    }

    .right {
        width: 100%;
    }

    .left {
        width: 100%;
    }

    .video {
        width: auto;
        border-radius: 0;
    }

    .video__card__options__icon {
        right: 10px;
    }

    .video__page {
        max-width: 100%;
    }
}

@media (max-width: 812px) {
    .video__options {
        flex-direction: column;
    }

    .video__options__sub {
        justify-content: space-between;
    }
    .channel_info img{
        max-width: 100px;
    }
    .channel__info__text h1 {
        font-size: 1.3rem;
    }
    .channel__info__text {
        gap: 0;
    }
    .videos__container__channel {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 612px) {
    .search input {
        display: none;
    }

    .keyboard {
        display: none;
    }

    .search input {
        width: 50vw;
    }

    .lupa {
        border-radius: 100%;
        padding: 0;
        background: none;
        border: none;
    }

    .sidebar {
        display: none;
    }

    .pageVideo {
        width: 100%;
        margin: 128px auto;
        padding: 0;
    }

    .videos__container {
        padding: 0;
    }

    .buttons__container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 12px 0;
    }

    .buttons__container::after {
        opacity: 0;
    }

    .thumb {
        border-radius: 0;
    }

    .videos__resizer {
        width: 100%;
        margin-top: 56px;
    }

    .videos__resizer__page {
        width: 100%;
        margin-top: 56px;
    }

    header .menu {
        display: none;
    }

    .options {
        display: none;
    }

    .video__page {
        max-width: 100%;
        width: 100%;
        margin: 56px 0;
    }

    .channel__container {
        padding: 0;
        width: 100%;
    }
}