.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-primary);
    width: max-content;
    position: fixed;
    top: 56px;
}

.sidebar span {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    width: 72px;
    border-radius: 16px;
}
.sidebar span:hover{
    background: var(--background-secondary);
}
.sidebar span p {
    font-size: 12px;
}