.sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    background: var(--background-primary);
    width: max-content;
    position: fixed;
    top: 56px;
    bottom: 0; 
    max-height: calc(100vh - 56px);
    scrollbar-color: var(--background-secondary) transparent;
}

.closedSpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    width: 72px;
    border-radius: 16px;
}
.sidebar span:hover{
    background: var(--background-secondary);
}
.openSpan{
    width: 100%;
    padding-right: 24px;
    flex-direction: row;
}
.subs{
    display: none;
    border-top: 1px solid gray;
}
.openSubs{
    display: block;
}